.textField {
  max-width: 952px;
  width: 100%;
  padding: 9px 16px;

  background-color: #f2f2f2;
  color: #000000;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;

  outline: none;
  border-radius: 4px;
  border: none;

  &::placeholder {
    color: #828282;
    font-style: italic;
    font-weight: 400;
  }
}
